/**
 * Important: if deploying to AWS Amplify, it is necessary
 *            to include woff2 in "Rewrites and redirects" section, this way:
 *
 *  </^[^.]+$|\.(?!(css|gif|ico|jpg|js|png|txt|svg|woff|woff2|ttf|map|json)$)([^.]+$)/>
 *
 * Amplify's "Rewrites and redirects" page:
 * https://sa-east-1.console.aws.amazon.com/amplify/home?region=sa-east-1#/d77ck3u6f00h2/settings/rewrites
 */

 @font-face {
  font-family: 'MarkOT';
  font-style: bold;
  src: local(''),
       url('./fonts/MarkOT-Bold.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

@font-face {
  font-family: 'MarkOT';
  font-style: normal;
  src: local(''),
       url('./fonts/MarkOT.woff2') format('woff2'); /* Chrome 26+, Opera 23+, Firefox 39+ */
  font-display: swap;
}

body {
  margin: 0;
  font-family: MarkOT, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #888888;
  color: #ebebeb;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
